<!--
  ~ Copyright 2018 Royal Bank of Scotland
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<script src="/dist/bundle.js"></script>

<template id="app-connection-template">
  <link rel="stylesheet" href="../style.css">
  <div class="widget">
    <label>Server</label> &nbsp;
    <select id="endpoint">
      <option value="https://localhost:8080/api/">bank a</option>
      <option value="https://localhost:8081/api/">bank b</option>
    </select>
    <button id='endpoint-connect'>Connect</button>
    <span id='status'></span>
  </div>
  <style>
    #status {
      font-size: 15px;
    }
  </style>
</template>

<script>
  (function () {
    class AppConnection extends SimpleComponent {
      constructor() {
        super('app-connection-template');
      }

      connectedCallback() {
        const thisObj = this;
        const bt = super.$('#endpoint-connect');
        bt.onclick = () => {
          thisObj._onConnect()
        }
      }

      disconnectedCallback() {
        const bt = this.$('#endpoint-connect');
        bt.onclick = null;
      }

      _onConnect() {
        const thisObj = this;
        const option = this._getEndPoint();
        const url = option.value;
        const name = option.innerText;
        const username = option.innerText.replace(/ /g, '');
        const password = "password";
        this.dispatchEvent(new CustomEvent('connect', {
          detail: {
            url: url, name: name, credentials: {
              username: username, password: password
            }
          }
        }));
      }

      _getEndPoint() {
        const selector = this.$('#endpoint')
        return selector.options[selector.selectedIndex];
      }

      onConnect(fn) {
        this.addEventListener('connect', fn);
      }

      status(msg) {
        $('#status').innerText = msg;
      }
    }

    window.customElements.define('app-connection', AppConnection);
  })();

</script>